body {
    overflow: hidden;
}


.vertical.menu{
    height:100vh;
    padding-top:20px;
    overflow-x: hidden;
    overflow-y: auto;
  }

.content {
    height:100vh;
    padding-top:20px;
    overflow-x: hidden;
    overflow-y: visible;
}

.progress {
    width: auto;
    max-width: 350px;
}

input[type=text], textarea {
    width: 100%;
    max-width: 450px;
    word-wrap: break-word;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

/*

#modal {
    position:absolute;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: grey;
    color:white;
    flex-direction: column;
  }

  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }

  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }

  .modal-body {
    margin: 20px 20px;
  }

  .modal-default-button {
    float: right;
  }


  /*
   * the following styles are auto-applied to elements with
   * v-transition="modal" when their visiblity is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

   /*
  .modal-enter,
  .modal-leave {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

*/
